<div style="padding:15px;">
    <h2>Cheeses List</h2>
    <div>
        <table width="100%">
            <thead>
                <tr>
                    <th width="30%">Name</th>
                    <th width="20%">Type</th>
                    <th width="50%">Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{item.name}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.notes}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>