<div style="padding:15px;">
    <h2>Cheeses List</h2>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{item.name}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.notes}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>