<mat-toolbar color="primary">
    JohnnyBouder.com
    <span class="spacer"></span>
    <button mat-flat-button color="primary" routerLink="home" routerLinkActive="active">Home</button>
    <button mat-flat-button color="primary" routerLink="cheese" routerLinkActive="active">Cheese</button>
    <button mat-flat-button color="primary" routerLink="wine" routerLinkActive="active">Wine</button>
    <button mat-flat-button color="primary" routerLink="bourbon" routerLinkActive="active">Bourbon</button>
  </mat-toolbar>
  
  <main>
    <router-outlet></router-outlet>
  </main>